.toolbar,
.menu, .user-profile, .user-button {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.toolbar {
    justify-content: space-between;
    padding: 2rem;
}

.menu-button {
    color: var(--light-font);
}

.user-button {
    background-color: transparent;
    border: none;
    color: var(--light-font);
    cursor: pointer;
}

.user-avatar {
    width: 2rem;
    border-radius: 50%;
}

.mat-primary {
    background-color: var(--mdc-theme-primary) !important;
    color: var(--mdc-theme-on-primary) !important;
}