app-header {
    position: fixed;
    height: 4rem;
    width: 100%;
    z-index: 10;
}

app-header, app-footer {
    color: var(--mdc-theme-on-primary);
}

main {
    padding-top: 4rem;
    padding-bottom: 1rem;
    min-height: calc(100% - 8rem);
}